/* This method is known as external styling in css */
body{
    background-color: whitesmoke;   
}
#first{
    background-color: aqua;
}
.bg-blue{
    background-color: greenyellow;
    color: black;   /* Text color */
}